body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
}

img {
  image-rendering: pixelated;
}

#background {
  height: 100%;
}

#sprites {
  display: none;
}

#gameCanvas {
  image-rendering: pixelated;
  /* border: 1px solid #3b3b3b; */
  object-fit: contain;
  height: 100%;
  position: absolute;
}

#debug {
  font-family: monospace;
  color: #a3a3a3;
  position: absolute;
  top: -13px;
  left: 0;
  width: 150px;
  background: black;
  padding: 5px;
}
