body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
}

img {
  image-rendering: pixelated;
}

#background {
  height: 100%;
  /* height: 149%;
  margin-left: 17px;
  margin-top: 4px; */
}

#sprites {
  display: none;
}

#gameCanvas {
  /* border: 1px solid #3b3b3b; */
  image-rendering: pixelated;
  object-fit: contain;
  position: absolute;
  height: 100%;
  /* width: 100%; */
}

#debug {
  /* display: none; */
  font-family: monospace;
  color: #a3a3a3;
  position: absolute;
  top: -13px;
  left: 0;
  width: 150px;
  background: black;
  padding: 5px;
}
